<div class="customer-card">
  <header>
      <div class="photo">
          <img ng-src="{{ customer.image }}" alt="">
      </div>
      <div class="info">
          <h2 class="name">{{ customer.name }}</h2>
          <span class="title">{{ customer.title }}</span>
      </div>
  </header>
  <section>
      <div>
          <div class="title">Produtos</div>
          <div class="text">{{ customer.products }}</div>
      </div>

      <div>
          <div class="title">Total</div>
          <span class="text">{{ customer.total | currency }}</span>
          <span class="text">{{ customer.total | checkmark }}</span>
      </div>
  </section>
</div>
